<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tabel Nasabah</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tabel Nasabah</div>
        <hr>
        
       
        <table border="1">
            <tr th:each="BNI:${tabel}">
                <td th:text="${BNI[0]}"></td>
                <td th:text="${BNI[1]}"></td>
                <td th:text="${BNI[2]}"></td>
                <td th:text="${BNI[3]}"></td>
            </tr>
        </table>
        <hr/>
    </body>
</html>
